<!DOCTYPE html>
<html>
<head>
  <title>Recol</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Recol</h1>
		<% if current_user %>
			<%= link_to image_tag(current_user.image, :size => "20x20"), user_path(current_user) %>
			<%= link_to current_user.nickname, user_path(current_user) %>
			<%= label :user_location, current_user.location %>
		  <%= link_to "Sign out", signout_path %>
		<% end %>
	</header>

<%= yield %>
	<footer>
		Copyrights Rocol All Rights Reserved.
	</footer>
</body>
</html>
