<!DOCTYPE html>
<html>
<head>
  <title>Recol</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Recol</h1>
		<% if current_user %>
			<%= label :nickname, current_user.nickname %>のダッシュボード
			<%= label :country, current_user.country %>
			<%= label :city, current_user.city %>
		  <%= link_to "Sign out", signout_path %>
		<% end %>
	</header>

<%= yield %>

</body>
</html>
